# Documentation: https://github.com/roots/trellis#wordpress-sites
wordpress_sites:
  corey.dev:
    site_hosts:
      - corey.dev
    local_path: ../site # path targeting local Bedrock site directory (relative to Ansible root)
    repo: git@github.com:roots/bedrock.git
    site_install: true
    site_title: Corey Bruyere
    admin_user: admin
    admin_password: admin
    admin_email: hello@coreybruyere.com
    multisite:
      enabled: false
      subdomains: false
    ssl:
      enabled: false
    cache:
      enabled: false
      duration: 30s
    system_cron: true
    env:
      wp_home: http://corey.dev
      wp_siteurl: http://corey.dev/wp
      wp_env: development
      db_name: example_dev
      db_user: example_dbuser
      db_password: example_dbpassword
