/* @branding
--------------------------------------------------------

  The logo & (optional) wordmark

  Example: Branding logo
  <a class="branding" href="/">
    <img class="branding__logo img--title" src="images/logo.svg" alt="My Company">
    <h1 class="branding__wordmark">My Company</h1>
  </a>

------------------------------------------------------ */

.branding {
  // display: inline-block;
  display: block;
  margin-right: auto; // push flex items when in nav
  padding: u(rem(10));
  padding-left: 0;
  color: $color__white;
}

.branding--inherit {
  color: inherit;
}

.branding__logo {
  display: block;
  width: u(rem(50));
  height: u(rem(50));
  border-radius: 5px;
  color: inherit;
  box-shadow: 0 1px 1px $color__black--trans;
}
