/**

  @card
--------------------------------------------------------
  modules/_card.scss
--------------------------------------------------------

  Cards are a convenient means of displaying content composed of different types of objects. They’re also well-suited for presenting similar objects whose size or supported actions can vary considerably, like photos with captions of variable length.

------------------------------------------------------ */

.card {
  margin-bottom: u(rem($base-unit));
  border-radius: 4px;
  background-color: $color__white;
  box-shadow: 0 u(rem(1)) u(rem(1)) u(rem(1)) rgba($color__grey, .35);
  overflow: hidden;
}

.card__media {
  position: relative;
  border-bottom: 1px solid $color__grey--light;

  // media img
  img {
    border-radius: 4px 4px 0 0;
  }
}

.card__content {
  padding: u(rem(20));
}

.card__action {
  padding: u(rem(20));
  border-top: 1px solid $color__grey--light;
}

.card__title {
  font-size: em($h2-font-size);
  line-height: 1;
}
