/**

  @cat-tag
--------------------------------------------------------
  modules/_cat-tag.scss
--------------------------------------------------------

  cat Tag items styling for blog cat categories

  Example: cat-tag
  <ul>
    <li class="cat-tag">cat tag item
    <li class="cat-tag">Another cat tag item
  </ul>
------------------------------------------------------ */
// scss-lint:disable PropertyUnits, PropertySortOrder

.cat-tag {
  display: inline-block;
  position: relative;
  height: em(30);
  margin: 0 em(2) 0 em(15);
  border: 0;
  border-right: 3px solid $color__grey;
  border-top-right-radius: em(2);
  border-bottom-right-radius: em(2);
  background-color: $color__grey--light;
  color: $color__black--light;
  font-size: em(10);
  vertical-align: text-bottom;
  // transform: scale(.80);
  // -- Min Width @ $tablet
  @include bp-at-least($tablet) {
    // transform: scale(1);
  }

  &:before,
  &:after {
    position: absolute;
    content: '';
  }
  &:before {
    top: 0;
    right: 100%;
    width: em(30);
    height: em(30);
    transition: border-color .15s linear;
    border-color: transparent;
    border-width: em(15);
    border-right-color: $color__grey--light;
    border-style: solid;
  }
  &:after {
    top: 50%;
    right: 100%;
    width: u(rem(3));
    height: u(rem(3));
    transform: translateY(-50%);
    border-radius: u(rem(3));
    background-color: $color__white;
  }
}

// Category tag modifiers
.cat-tag--random {
  border-color: $color__success;
}

.cat-tag--tutorial {
  border-color: $color__error;
}

.cat-tag--development {
  border-color: $color__info;
}

.cat-tag__link {
  display: block;
  padding: 0 em(10);
  color: inherit;
}
