/**

  @modals
---------------------------------------------------------
  modules/_modals.scss
--------------------------------------------------------

  These are very basic modals, which simply cover the entire
  viewport from top to bottom, left to right.  Feel free
  to edit the styles of modals to suit your needs.

--------------------------------------------------------- */

// Main modal box
//
.modal {
  display: none; // is shown with js
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  // background: rgba(255, 255, 255, .96);
  z-index: 200; // modals live in level 2
}


// The content within the modal
//
.modal__container {
  display: table;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  padding: u(rem(10));
}


// The close button
//
.modal__close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: u(rem(2)) u(rem(2)) 0 0;
  border: 0;
  background: none;
  &:hover,
  &:focus {
    border: 0;
    outline: none;
    opacity: .85;
  }
  &:active {
    opacity: .6;
  }

}

// modal body
.modal__body {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
