/**

  @nav
--------------------------------------------------------
  modules/_nav.scss
--------------------------------------------------------

  Navigations used throughout site
  Includes site header & footer navigations

------------------------------------------------------ */

// scss-lint:disable PropertyUnits

// Primary Navigation
.nav {
  display: inline-block;
  margin: 0 u(rem(10));
}

.nav__item {
  display: inline-block;
  position: relative;
  line-height: inherit;
  vertical-align: middle;
  // fancy active state for nav
  &.is-active {
    &:after {
      position: absolute;
      right: 0;
      bottom: u(rem(6));
      left: 0;
      width: calc(100% - 12px);
      margin: auto;
      border-top: 3px solid $color__orange;
      content: '';
      // Min Width @ $mobile
      @include bp-at-least($mobile) {
        bottom: u(rem(22));
      }
    }
  }
  // direct <a> el
  > a {
    @include font-family($serif, normal);
    display: block;
    padding: u(rem(6)); // left and right padding percentage based until $mobile
    color: $color__white;
    letter-spacing: u(rem(1));
    text-decoration: none;
    // Min Width @ $mobile
    @include bp-at-least($mobile) {
      margin-right: auto; // push flex items when in nav
      padding: u(rem(23)) u(rem(10));
    }
    // remove tap highlight
    &:link {
      -webkit-tap-highlight-color: transparent;
    }
  }
}

.nav__sub-item {

}
