/**

  @post
--------------------------------------------------------
  modules/_post.scss
--------------------------------------------------------

  Blog Post styling - .post being the class that wraps around each article item

-----------------------------------------------------  */

.post {
  margin-bottom: u(rem($base-unit));
  padding: u(rem($base-unit)) u(rem($base-unit)) u(rem($base-unit - $base-margin));
  border-radius: 4px;
  background-color: $color__white;
  box-shadow: 0 u(rem(1)) u(rem(1)) u(rem(1)) rgba($color__grey, .35);
  // &:last-of-type {
  //   border-bottom: 0;
  // }
}

.post__title {
  margin-bottom: u(rem($base-unit / 2));
}

.post__time {
  display: block;
  margin-bottom: u(rem($base-unit));
  font-size: smaller;
}