/**

  @post
--------------------------------------------------------
  modules/_post.scss
--------------------------------------------------------

  Blog Post styling - .post being the class that wraps around each article item

-----------------------------------------------------  */
/*test*/
.post {
  position: relative;
  margin-bottom: u(rem($base-unit));
  padding: u(rem($base-unit / 1.5));
  // border-bottom: 4px solid $color__grey--light;
  border-radius: 4px;
  background-color: $color__white;
  // box-shadow: 0 u(rem(1)) u(rem(1)) u(rem(1)) rgba($color__grey, .35);
  box-shadow: 0 1px 1px $color__black--trans;
  // Scoped parent class for single pages only
  .s-single & {
    padding: 0 0 u(rem($base-unit / 1.5));
    background-color: transparent;
    box-shadow: none;
  }
}

// blank post style
.post--bare {
  background-color: transparent;
  box-shadow: none;
  // post--bare siblings
  & + & {
    box-shadow: 0 0 0 4px $color__grey--trans;
  }
}

// first paragraph drop cap
.post--drop-cap {
  // scss-lint:disable NestingDepth
  // Nesting depth greater than 3 for pseudo selectors
  > p {
    &:first-of-type {
      &:first-letter {
        padding-right: u(rem(4));
        float: left;
        font-size: em(56);
        line-height: 1;
        // vertical-align: bottom;
      }
    }
  }
}

.post__heading {
  width: 100%;
  // -- Min Width @ $tablet
  @include bp-at-least($tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.post__time {
  display: block;
  // margin-bottom: u(rem($base-unit));
  font-size: smaller;
}

.post__title {
  display: inline-block;
  @include bp-at-least($tablet) {
    display: flex;
    justify-content: space-between;
  }
  // visited link styling
  // scss-lint:disable BorderZero, StringQuotes, NestingDepth
  a {
    &:visited {
      ~ .post__status {
        &:after {
          background-color: $color__white;
          color: $color__white;
        }
      }
    }
  }
}

.post__status {
  &:after {
    @include font-size-line(10, 1.5);
    display: inline-block;
    margin-left: u(rem($base-unit / 4));
    padding: 0 u(rem($base-unit / 4));
    border-radius: em(2);
    background-color: $color__grey--trans;
    color: $color__black--light;
    content: 'unread';
    vertical-align: bottom;
  }
}
