/**

  @site-document
--------------------------------------------------------
  modules/_site-document.scss
--------------------------------------------------------

  Site-wide site-document class thats wrapped around main.
  Used in conjunction with role="document"

------------------------------------------------------ */

.site-document {
  flex: 1 0 auto;
}
