/**

  @site-footer
--------------------------------------------------------
  modules/_site-footer.scss
--------------------------------------------------------

  The site's global footer

------------------------------------------------------ */

.site-footer {
  flex: none;
  padding-top: u(rem($base-unit));
  padding-bottom: u(rem($base-unit));
  // padding: u(rem($base-unit / 2)) 0 u(rem($base-unit));
  // outline: u(rem(6)) solid $color__turqoise--trans;
  border-top: 2px solid $color__grey--light;
  background-color: $color__offwhite;
  // background-color: $color__turqoise;
  // background-image: linear-gradient(to top right, $color__turqoise , $color__black--light);
  // color: $color__white;

  // Scoped parent class for single pages only
  .s-single & {
    background-color: transparent;
  }
}

.site-footer__wrap {
  line-height: 2;
  // -- Min Width @ $tablet
  @include bp-at-least($tablet) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}
