/**

  @site-header
--------------------------------------------------------
  modules/_site-header.scss
--------------------------------------------------------

  Site-wide header

------------------------------------------------------ */

.site-header {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  flex: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: u(rem($base-unit / 6)) u(rem($base-unit / 2)) 0;
  z-index: 99;
  // backface-visibility: hidden;

  // Scoped class for single pages
  .s-single & {
  }
}
