/**

  @site-footer
--------------------------------------------------------
  modules/_site-footer.scss
--------------------------------------------------------

  The site's global footer

------------------------------------------------------ */

.site-footer {
  padding: u(rem($base-unit / 2)) 0 u(rem($base-unit));
  background-color: $color__turqoise;
  color: $color__white;
}

.site-footer__wrap {
  // -- Min Width @ $tablet
  @include bp-at-least($tablet) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}


