/**

   @site
--------------------------------------------------------
  modules/_site.scss
--------------------------------------------------------

  We use the naming convention of .site-* for global
  modules like the header, main, and footer.

  Wrap .site around the body

------------------------------------------------------ */

.site {
  display: flex;
  position: relative;
  flex-direction: column;
  // border-top: 6px solid $color__turqoise--trans;
  min-height: 100%;
  background-color: $color__offwhite;

  // Scoped Single Page Class
  &.s-single {
    background-color: $color__white;
  }
}
