/**

   @skip
--------------------------------------------------------
  modules/_skip.scss
--------------------------------------------------------

  The skip to content link that's hidden unless focused on

------------------------------------------------------ */

.skip {
  position: absolute;
  left: -9999%;
  height: 0;
  margin: 0;
  padding: u(rem(5));
  opacity: 0;
  &:focus {
    left: 0;
    height: auto;
    background-color: $color__white;
    opacity: 1;
    z-index: 100;
  }
}
