/**

  @tooltips
--------------------------------------------------------
  modules/_tooltips.scss
--------------------------------------------------------


  Example: tooltip
  <ul>
  <li class="tooltip" data-tooltip="Top Text" data-placement="top" data-trigger="hover">Top Tooltip</li>
  <li class="tooltip" data-tooltip="Bottom Text" data-placement="bottom" data-trigger="hover">Bottom Tooltip</li>
  <li class="tooltip" data-tooltip="Left Text" data-placement="left" data-trigger="hover">Left Tooltip</li>
  <li class="tooltip" data-tooltip="Right Text" data-placement="right" data-trigger="hover">Right Tooltip</li>
  </ul>


------------------------------------------------------ */

// Variables
$content-attr:     data-tooltip;
$trigger:          data-trigger;
$placement:        data-placement;


// The main tooltip class
.tooltip {
  position: relative;
  outline: none;
  z-index: 99;

  // Hide the tooltip when not active
  &:after,
  &:before {
    position: absolute;
    transition: opacity .2s linear 0s;
    outline: none;
    font-size: u(rem(12));
    text-decoration: none;
    content: '';
    opacity: 0;
    visibility: hidden;
  }

  // The actual tooltip styles
  &:after {
    padding: u(rem(6));
    transition: opacity .2s linear 0s;
    background-color: $color__black;
    color: $color__white;
    white-space: nowrap;
    content: attr(#{$content-attr});
  }

  // Tooltip trigger
  &[#{$trigger}="hover"],
  &[#{$trigger}="focus"] {
    &:hover:before,
    &:hover:after,
    &:focus:before,
    &:focus:after {
      transition: opacity .3s linear 0s;
      opacity: 1;
      visibility: visible;
      z-index: 2;
    }
  }

  // Tooltip placement top
  &[#{$placement}^="top"] {
    &:before,
    &:after {
      bottom: 100%;
    }

    &:after {
      left: 50%;
      margin-bottom: u(rem(15));
      transform: translateX(-50%);
      border-radius: u(rem(4));
    }

    &:before {
      left: 50%;
      margin: 0 0 u(rem(7));
      transform: translateX(-50%);
      border-top: u(rem(8)) solid $color__black;
      border-right: u(rem(8)) solid transparent;
      border-left: u(rem(8)) solid transparent;
      content: '';
    }
  }

  // Tooltip placement right
  &[#{$placement}^="right"] {
    &:before,
    &:after {
      left: 100%;
    }

    &:after {
      top: 50%;
      margin-left: u(rem(15));
      transform: translateY(-50%);
      border-radius: u(rem(4));
    }

    &:before {
      top: 50%;
      margin-left: u(rem(8));
      transform: translateY(-50%);
      border-top: u(rem(8)) solid transparent;
      border-right: u(rem(8)) solid $color__black;
      border-bottom: u(rem(8)) solid transparent;
      content: '';
    }
  }

  // Tooltip placement bottom
  &[#{$placement}^="bottom"] {
    &:before,
    &:after {
      top: 100%;
    }

    &:after {
      left: 50%;
      margin-top: u(rem(15));
      transform: translateX(-50%);
      border-radius: u(rem(4));
    }

    &:before {
      left: 50%;
      margin-top: u(rem(7));
      transform: translateX(-50%);
      border-right: u(rem(8)) solid transparent;
      border-bottom: u(rem(8)) solid $color__black;
      border-left: u(rem(8)) solid transparent;
      content: '';
    }
  }

  // Tooltip placement on smaller displays
  // bottom-left can be added onto any existing placement
  &[#{$placement}*="bottom-left"] {
    @include bp-until($desktop) {
      &:after {
        right: auto;
        left: 0;
        margin-right: 0;
        transform: translateX(0);
      }
    }
  }

  // Tooltip placement on smaller displays
  // bottom-right can be added onto any existing placement
  &[#{$placement}*="bottom-right"] {
    @include bp-until($desktop) {
      &:after {
        right: 0;
        left: auto;
        margin-right: 0;
        transform: translateX(0);
      }
    }
  }

  // Tooltip toggled state
  // Remove after 15sec
  &.is-toggled {
    &:before,
    &:after {
      // transition: opacity .3s linear 0s;
      opacity: 1;
      visibility: visible;
      z-index: 2;
    }
  }
}
