/**

  @l-figure
--------------------------------------------------------
  layouts/_l-figure.scss
--------------------------------------------------------

  Common image layouts. Set an auto width to images,
  and float or center images in a body of text. Use the
  base .l-figure class along with a desired modifier
  class.

-----------------------------------------------------  */

//
.l-figure {
  width: auto;
}

// Full width at $mobile
.l-figure--full\<sm {
  // Max Width @ $mobile
  @include bp-until($mobile) {
    width: 100%;
  }
}

// Image placement helpers
.l-figure--r {
  margin-bottom: u(rem($base-unit));
  margin-left: u(rem($base-unit));
  float: right;
}

.l-figure--l {
  margin-right: u(rem($base-unit));
  margin-bottom: u(rem($base-unit));
  float: left;
}

.l-figure--c {
  display: block;
  margin-right: auto;
  margin-bottom: u(rem($base-unit));
  margin-left: auto;
}
