/**

  @l-masonry
--------------------------------------------------------
  layouts/_l-masonry.scss
--------------------------------------------------------

  A masonry-like layout object with various column count modifiers

  Example: Container within a section
  <section class="awesome-section-with-background-color">
    <div class="l-masonry l-masonry--two-col@md ">
      <p>Your content goes here... </p>
    </div>
    <div class="l-masonry l-masonry--two-col@md ">
      <p>Your content goes here... </p>
    </div>
  </section>

------------------------------------------------------ */

.l-masonry {
  column-gap: u(rem(16));
  column-count: 1;
}

.l-masonry--two-col\@md {
  // -- Min Width @ $tablet
  @include bp-at-least($tablet) {
    column-count: 2;
  }
}

.l-masonry--three-col\@md {
  // -- Min Width @ $tablet
  @include bp-at-least($tablet) {
    column-count: 3;
  }
}

.l-masonry__item {
  margin-bottom: u(rem(16));
}
