/**

  @l-this-or-this
--------------------------------------------------------
  layouts/_l-this-or-this.scss
--------------------------------------------------------

  This or this
  https://github.com/csswizardry/inuit.css/blob/master/objects/_this-or-this.scss

------------------------------------------------------ */
// scss-lint:disable DuplicateProperty
// display used twice for fallback purposes
.l-this-or-this {
  display: table;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.l-this-or-this__this,
.l-this-or-this__or {
  display: table-cell;
  display: flex;
  vertical-align: middle;
}

.l-this-or-this__this {
  &:first-of-type {
    text-align: right;
  }
  &:last-of-type {
    text-align: left;
  }
}

.l-this-or-this__or {
  // max-width: u(rem(60));
  padding-right: 2%;
  padding-left: 2%;
}
