/**

  @blockquote
---------------------------------------------------------
  elements/_blockquote.scss
--------------------------------------------------------

  BASE STYLING ONLY!
  Base styles for the bare blockquote element

--------------------------------------------------------- */


/* @blockquote element
--------------------------------------------------------

  Base styling the blockquote element

  Example: Simple blockquote
  <blockquote>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <cite><a href="http://foo.com">The source</a></cite>
  </blockquote>

------------------------------------------------------ */
blockquote {
  margin: u(rem(16)) u(rem(4)) u(rem(16)) u(rem(16));
  padding-left: u(rem(16));
  border-left: 1px solid $color__turqoise;
  font-style: italic; 
}
