/**

  @figure
---------------------------------------------------------
  elements/_figure.scss
--------------------------------------------------------

  BASE STYLING ONLY!
  Base styles for the bare figure element

--------------------------------------------------------- */


/* @figure element
--------------------------------------------------------

  Base styling the figure element

  Example: Simple figure
  <figure>
    <img src="..." alt="..."/>
    <figcaption>A caption for this image</figcaption>
  </figure>

------------------------------------------------------ */
figure {
  margin: 0;  
}




/* @figcaption element
--------------------------------------------------------

  Base styling the figcaption element
  Optional element that can be placed as the first or last child of the figure element

  Example: Simple figure
  <figure>
    <img src="..." alt="..."/>
    <figcaption>A caption for this image</figcaption>
  </figure>

------------------------------------------------------ */
figcaption {
  font-size: em(12);
}
