/**

  @images
---------------------------------------------------------
  bits/_images.scss
--------------------------------------------------------

  Base styling for images.

--------------------------------------------------------- */





/* @images
--------------------------------------------------------

  Base Image Style is 100% width by default

  Example: Image
  <img src="http://fillmurray.com/600/300">

------------------------------------------------------ */

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}



