/**

  @lists
--------------------------------------------------------
  bits/_lists.scss
--------------------------------------------------------

  Structure for lists

  Example: Unordered List
  <ul>
    <li>List item here</li>
    <li>List item here</li>
    <li>List item here</li>
    <li>List item here</li>
    <li>
      <ul>
        <li>Nested Item</li>
        <li>Nested Item</li>
        <li>Nested Item</li>
        <li>Nested Item</li>
      </ul>
    </li>
  </ul>

  Example: Ordered List
  <ol>
    <li>List item here</li>
    <li>List item here</li>
    <li>List item here</li>
    <li>List item here</li>
    <li>
      <ol>
        <li>Nested Item</li>
        <li>Nested Item</li>
        <li>Nested Item</li>
        <li>Nested Item</li>
      </ul>
    </li>
  </ol>

  See layout/_ui-list.scss for object oriented classes

-------------------------------------------------------- */

ul,
ol {
  margin-bottom: u(rem($base-unit));
  margin-left: u(rem($base-unit));
  padding-left: 0;
  li {
    line-height: 2;
  }
}
