/**

  @text
--------------------------------------------------------
  bits/_text.scss
--------------------------------------------------------

  Some basic styles to paragraphs and
  inline styles

-----------------------------------------------------  */



/* @selection
--------------------------------------------------------

  Hightlight style

--------------------------------------------------------  */

::selection {
  background: $color__turqoise;
  color: $color__white;
}





/* @paragraphs
--------------------------------------------------------

  Example: Paragraphs
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

--------------------------------------------------------  */

p {
  margin-top: 0;
  margin-bottom: u(rem($base-unit));
  // line-height: 1.25 * $unit;
}





/* @inline
--------------------------------------------------------

  Common inline elements

  Example: inline elements
  <p>Lorem Ipsum is <b>bold</b> text of the <strong>strong</strong> printing and typesetting industry. Lorem Ipsum is <i>italic</i> simply dummy text <em>emphasized</em> of the printing and typesetting industry.</p<

-------------------------------------------------------- */

b,
strong {
  // NOTE: use bold font-face if available instead of 'font-weight: bold'
  font-weight: bold;
}


i,
em {
  // NOTE: use italic font-face if available instead of 'font-style: italic'
  font-style: italic;
}
