/**

  @u-img-contrast
--------------------------------------------------------
  utilities/_u-img-contrast.scss
--------------------------------------------------------

  This is a helper utility partial. Utility classes are prefixed
  with 'u-'. Utility classes are abstract and reusable.

  A simple image contrast helper

-----------------------------------------------------  */

.u-img-contrast {
  filter: contrast(.75) saturate(80%);
}
