<div class="alert alert--error">
  <a href="#" class="alert__close">&times;</a>
  <p class="alert__msg">Uh oh - something went wrong</p>
</div>

<div class="alert alert--warning">
  <a href="#" class="alert__close">&times;</a>
  <p class="alert__msg">Shake it fast, but watch yourself.</p>
</div>

<div class="alert alert--success">
  <a href="#" class="alert__close">&times;</a>
  <p class="alert__msg">The secret to my success is that I learn, 25 hours a day!</p>
</div>

<div class="alert alert--info">
  <a href="#" class="alert__close">&times;</a>
  <p class="alert__msg">Did you ever know that you're my hero?</p>
</div>
